$inaltime-meniu: 30px;
$latime-buton: 80px;

nav {
    font-size: 1.2rem;
    height: $inaltime-meniu;
}

ol.meniu {
    li {
        width: $latime-buton;
        height: $inaltime-meniu;
        line-height: $inaltime-meniu;
    }
}

#pag1-text {
    display: none;
}