$inaltime-meniu: 20px;
$latime-buton: 80px;
$culoare-fundal: #C9A0A0;
$culoare-bordura: #421112;

@keyframes spatiere-meniu {
    0% {
        letter-spacing: -4px;
    }
    100% {
        letter-spacing: 2px;
    }
}

nav {
    padding: 5px;
    font-size: 1.2rem;
    height: $inaltime-meniu;
}

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $inaltime-meniu;
    width: $inaltime-meniu;

    div {
        width: 100%;
        height: 15%;
        background-color: black;
        border-radius: 2px;
    }
}

ol.meniu {
    display: none;
    margin: 0;
    width: 100%;
    background-color: $culoare-fundal;

    li {
        margin: 0;
        width: 100%;
        border: 1px solid $culoare-bordura;
        background-color: $culoare-fundal;
    }

    > li {
        animation-name: spatiere-meniu;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-duration: 0.05s;
        animation-fill-mode: none;
    }

    > li:hover {
        text-shadow: none;
    }
}

#ch-menu:checked + ol.meniu {
    display: block;
    position: relative;
    z-index: 1;
}