<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="librarie, magazin, banda desenata, benzi desenate, carte, carti, manga, carte in engleza, carti in engleza">
        <meta name="description" content="Librarie online pentru carti in engleza, benzi desenate si manga.">
        <title>FansTOME</title>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <p id="watermark"></p>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <section id="desprenoi">
                <h2>Despre noi</h2>
                <p><b>Librarie</b> <i>online</i> pentru pasionatii de citit!
                    Aici vei gasi o mare colectie de <b>carti in engleza</b>, <b>benzi desenate</b> din seriile copilariei si volume <b><i lang="ja">manga</i></b> pentru pasionatii de <i lang="ja">anime</i> si doritorii de actiune!</p>
            </section>
            <section id="inspiratie">
                <h2>Inspiratie</h2>
                <p>Initiativa de a crea aceasta afacere a venit dintr-o pasiune personala a copilariei, cititul. Intrand in adolescenta, am realizat ca am prefera sa citim o <b>carte in engleza</b> in schimbul uneia in limba romana, din dorinta de a ne imbunatatii abilitatile lingvistice. In acelasi timp, am descoperit lumea plina de actiune a <i lang="ja">anime</i>-urilor si a principalei inspiratii a lor, seriile <b><i lang="ja">manga</i></b>, a caror comunitate de fani este inca crescanda in tara.</p>
                <p>
                    De asemenea, benzile desenate, volumele ilustrate sau manga sunt <s>de mare ajutor</s> <ins>o treapta ajutatoare</ins> in invatarea unei alte limbi. Mai multe detalii:
                </p>
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a class="iframevid" id="tab_video1" href="https://www.youtube.com/embed/gJpFboFcGfE" target="video">Graphic Novels</a>
                        <a class="iframevid" id="tab_video2" href="https://www.youtube.com/embed/8OYEBRdAlNk" target="video">History</a>
                    </div>
                        <iframe name="video" id="video" src="https://www.youtube.com/embed/gJpFboFcGfE" title="Are Graphic Novels... Novels? (Feat. Princess Weekes) | It&#39;s Lit" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
            <section id="ceoferim">
                <h2>Ce oferim</h2>
                <p>        
                Destinata fanilor de toate varstele, <b>libraria FansTOME</b> nu este un simplu <b>magazin</b> de carti, ci un loc unde acestia isi pot satisface pofta imaginatiei prin anumite piese media ce nu sunt gasite peste tot in Romania. <b>FansTOME</b> ofera posibilitatea raspandirii 
                </p>
            </section>
            <br><br>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>