/* RESETARE CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************************************************/

/* voi importa fonturi cu licenta free use, toate resursele sunt in readme*/
@font-face {
    font-family: Pixeloid;
    src: url("../fonts/PixeloidSans-Bold.ttf");
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

html {
    padding-top: 10px;
    font-size: 10px;
    font-family: Oxanium;
    --culoare-text: #050301;
    background-color: #C9A0A0;
    --latime-harta: 400px;
    --inaltime-harta: 400px;
    --margine-pagina: 20px;
    --padding-text: 10px;
    --culoare-main: #5C1E20;
    --culoare-semideschisa: #A77272;
    --culoare-deschisa: #C9A0A0;
}

body {
    /*a. Spatiere in stanga si in dreapta paginii pentru continut*/
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
    line-height: 1.5;
    box-sizing: border-box;
}

main {
    margin-top: 10px;
}

#banner, #watermark {
    display: none;
}

h1, h2, h3  {
    font-weight: bold;
    font-size: 2rem;
    padding: var(--padding-text);
}

#titlu {
    font-family: Pixeloid;
    font-size: 3rem;
}

p, details, #cr {
    font-size: 1.5rem;
    color: var(--culoare-text);
    padding: var(--padding-text);
}

/* stilizare taburi iframe */
.taburi-iframe > a {
    font-weight: bolder;
    width: 60px;
    height: 35px;
    display: block;
    margin-bottom: 5px;
    color: var(--culoare-text);
    border: 2px solid var(--culoare-main);
    border-radius: 5px 25px 5px 0;
    box-shadow: inset 0 0 10px var(--culoare-main);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.container-iframe {
    margin: 0 auto;
    max-width: 450px;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.taburi-iframe {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.taburi-iframe > a:hover {
    background-color: var(--culoare-main);
    text-shadow: white 1px 0 5px;
    color: #F6CCCC;
    transition: all 0.2s linear;
}

.container-iframe > iframe {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.zona {
    background-color: var(--culoare-deschisa);
    border: 5px solid var(--culoare-main);
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
}

#zona1 {
    grid-area: zona1;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

#zona2 {
    padding: 0;
    display: block;
    background-color: var(--culoare-deschisa);
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    grid-area: zona2;
}

#zona3 {
    grid-area: zona3;
    overflow: auto;
}

#zona4 {
    grid-area: zona4;
}

#zona5 {
    grid-area: zona5;
}

#zona6 {
    grid-area: zona6;
}

#zona7 {
    grid-area: zona7;
}

#zona8 {
    background-color: var(--culoare-semideschisa);
    border: none;
    margin: 0;
    padding: 0;
    grid-area: zona8;
}

#grid_pag {
    display: grid;
    gap: 10px 10px;
    grid-template-areas: "zona1 zona1 zona1 zona1"
                         "zona2 zona2 zona8 zona8"
                         "zona3 zona6 zona8 zona8"
                         "zona5 zona6 zona8 zona8"
                         "zona5 zona4 zona4 zona7";
    padding: 20px;
    background-color: var(--culoare-semideschisa);
    border: 5px solid var(--culoare-main);
    border-radius: 20px;
    box-shadow: 5px 5px var(--culoare-main);
}

#desprenoi, #inspiratie, #ceoferim {
    border: 5px solid var(--culoare-main);
    border-radius: 15px 50px;
    background-color: var(--culoare-deschisa);
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    justify-content: flex-start;
}

footer {
    border: 5px solid var(--culoare-main);
    border-radius: 20px;
    box-shadow: 5px 5px var(--culoare-main);
    background-color: var(--culoare-semideschisa);
    padding: 10px;
    margin-bottom: 10px;
}

header {
    box-sizing: border-box;
    background-color: var(--culoare-semideschisa);
    border: 5px solid var(--culoare-main);
    border-radius: 30px 30px 0 0;
    box-shadow: -6px 6px 0px var(--culoare-deschisa), 5px 5px 0px var(--culoare-main);
    padding: 30px;
}

#logo {
    width: 30px;
    height: 40px;
    vertical-align: text-bottom;
}

#logo, #titlu {
    display: inline-flex;
}

#map {
    width: var(--latime-harta);
    height: var(--inaltime-harta);
}

#terms {
    border:5px solid #421112;
    width: 500px; 
    height: 600px;
}

/* link catre inceputul paginii */
#link-top {
    position: fixed;
    bottom: 1.3em;
    opacity: 0.5;
    left: 1.3em;
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    line-height: 3rem;
    text-align: center;
    border: 3px solid #421112;
    transform: rotate(45deg);
    background: white;
    justify-content: center;
}

#link-top:hover {
    opacity: 1;
    background: #421112 ;
    transition: all 0.2s linear;
}

#triunghi {
    height: 0;
    width: 0;
    display: inline-block;
    border-bottom: 2rem solid #421112;
    border-radius: 0 0 1.3rem 1.3rem;
    border-left: 1.1rem solid transparent;
    border-right: 1.1rem solid transparent;
    vertical-align: center;
    transform: translateY(35%) rotate(-45deg);
}

#link-top:hover #triunghi {
    border-bottom: 2rem solid white;
    transition: all 0.2s linear;
}

figure {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

figure img {
    display: block;
    justify-self: center;
}

figure figcaption {
    font-size: 1.5rem;
    text-align: center;
}

.tabel {
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    width: 100%;
    border-collapse: collapse;
}

.tabel thead th, .tabel tbody td {
    padding: 30px;
    text-align: center;
    /* border: 2px solid #421112; */
    transition: all 0.3s ease-in-out;
}

.tabel thead tr {
    background-color: var(--culoare-semideschisa);
}

.tabel tbody td:nth-child(1), .tabel tbody td:nth-child(3) {
    background-color: var(--culoare-semideschisa);
}

.tabel thead tr:nth-child(1), .tabel thead tr:nth-child(3) {
    background-color: #8A5151;
}

.tabel tbody td:hover {
    background-color: white;
}

.tabel tbody tr:hover td:not(:hover) {
    background-color: #f6cccc;
}

/* CAPTION SUB TABEL */
.tabel caption {
    border: none;
    caption-side: bottom;
    text-align: center;
    margin-top: 10px;
}

.tabel tfoot td, .tabel tfoot > tr {
    text-align: justify;
    padding: 10px;
    border: none;
}

/* BONUS FORMULA MATHML STILIZATA */
#formula {
    padding-top: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: -5px;
}

math {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--culoare-semideschisa);
    border-radius: 25px;
}

mi {
    font-weight: bold;
    color: rgb(229, 221, 221);
    font-style: italic;
}

mn {
    color: white;
}

mo {
    color: #421112;
    font-style: italic;
    font-size: 1.4rem;
}

mi:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

figcaption {
    display: none;
}


/*LINK CONTINUT PAGINE TO DO ANIMATIE GRANDIENT OVAL*/
*:not(.meniu) a:not(.iframevid) {
    display: inline-block;
    background-image: radial-gradient(ellipse, white 0%, white 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-size: 0 0;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-in-out;
}

*:not(.meniu) a:hover:not(.iframevid) {
    background-size: 100% 60%;
}

/* a:not(.iframevid):hover {
    background-image: radial-gradient(0% black, 40% black, 80% transparent, 100% transparent);
    background-position: center;
    background-size: 0;
    transition: background-image 0.5s ease-in-out;
  }
  
.meniu a:hover {
background-image: none;
} */

a[href^="http"]:not(.iframevid):visited {
    color: var(--culoare-main);
}

a[href^="http"]:not(.iframevid)::before {
    content: "⮳";
    font-size: 150%;
}

a[href^="http"]:not(.iframevid):hover::before {
    color: var(--culoare-deschisa);
    transition: all 0.2s ease-in-out;
}

/*LINK ACTIVE BORDER*/
:not(.meniu) > a:not(.iframevid):active {
    border: 1.5px solid black;
}

video {
    height: 100%;
    width: 90%;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    justify-self: center;
}

@media print {
    #grid-pag {
        display: block !important;
        font-size: 5px;
        padding: 5px;
		box-sizing: border-box;
		background-color: white;
        break-inside: avoid; 
        overflow: visible;
    }

    #grid-pag, .zona {
        page-break-inside: avoid;
    }

    html, body {
        width: 200mm;
		overflow: visible !important;
	}

    body {
        box-sizing: border-box;
        page-break-after: always;
    }

    h1 {
        break-inside: avoid;
		page-break-after: always;
        font-size: 2.5rem;
        text-decoration: underline;
		margin-top: 10%;
		text-align: center;
        align-self: center;
		margin-left: 1cm;
	}

    #titlu {
        display: block;
    }

    #link-top, .container-iframe, #zona1, #logo, nav {
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #banner {
        position: absolute;
        display: block;
        top: 0;
        width: 80%;
        height: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        overflow: visible;
        page-break-before: always;
    }

    #banner::after{
        font-size: 20px;
        border: 5px dotted black;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        display: block;
        content: "Acesta este un proiect școlar!";
    }

    #watermark {
		display: block;
		position: fixed;
		bottom: 1cm;
        right: 0.5cm;
		color:rgba(0,0,0,0.4);
	}

	#watermark::after {
		opacity: 0.65;
        width: 100px;
        height: 2cm;
		padding: 5px;
		display: block;
		background: white;
		border: 4px double black;
		border-right: none;
        text-align: center;
        line-height: 2cm;
		content: "Bianca Sandu";
	}

    #end{
		page-break-before: always;
	}

    @page {
		size: A4 portrait;
		margin-bottom:2cm;
		margin-top:2cm;
		counter-increment: page;
			
	}

	@page:left{
		margin-left: 2.5cm;
		margin-right: 0.5cm;
	}

	@page:right{
		margin-right: 2.5cm;
		margin-left: 0.5cm;
	}

    

    @page:first {
        #banner {
            display: block; /* Show banner on the first page */
        }
    }

}