/* voi importa fonturi cu licenta free use, toate resursele sunt in readme*/
@font-face {
    font-family: Pixeloid;
    src: url("../fonts/PixeloidSans-Bold.ttf");
}

html {
    font-size: 8px;
    font-family: monospace;
    --culoare-text: #050301;
    background-color: #C9A0A0;
}

h1, h2, h3  {
    /* font-family: monospace; */
    font-size: 2rem;
    /* color: #050301; */
    padding: 5px;
}

#titlu {
    font-family: Pixeloid;
    font-size: 3rem;
}

p, details, #cr, #salt, #pag1, #pag2, #secinsp, #secofer, #tab_video1, #tab_video2 {
    /* font-family: monospace; */
    font-size: 1.5rem;
    color: var(--culoare-text);
    padding: 10px;
}

.taburi-iframe > a {
    width: 50px;
    height: 30px;
    display: block;
    margin: 5px;
    border: 2px solid #5C1E20;
    border-radius: 5px 5px 20px;
    text-decoration: none;
    text-align: center;
}

.container-iframe {
    /* width: 60%; */
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-direction: column-reverse;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.taburi-iframe > a:hover {
    background-color: #5C1E20;
    color: #C9A0A0;
    transition: 0.3s;
}

.container-iframe > iframe {
    width: 100%;
    height: 90%;
}


#grid_pag {
    display: grid;
    grid-template-areas: "desprenoi"
                         "ceoferim"
                         "inspiratie";
    padding: 10px;
    background-color: #A77272;
    border: 5px solid #5C1E20;
    border-radius: 15px 50px;
}

#desprenoi {
    grid-area: desprenoi;
}

#inspiratie {
    grid-area: inspiratie;
}

#ceoferim {
    grid-area: ceoferim;
}

#desprenoi, #inspiratie, #ceoferim, footer {
    border: 5px solid #5C1E20;
    border-radius: 15px 50px;
    background-color: #C9A0A0;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}
/* 
#video {
    display: block;
    margin: auto;
} */
/* 
#tab_video1, #tab_video2 {
    display: block;
    margin: auto;
    text-align: center;
} */

#pic {
    display: block;
    margin: auto;
    max-width: fit-content;
}

footer {
    background-color: #A77272;
}

header {
    background-color: #A77272;
    border: 5px solid #5C1E20;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 10px;
}

#logo {
    width: 30px;
    height: 40px;
    vertical-align: text-bottom;
}


#logo, #titlu {
    display: inline-flex;
}

#caption {
    font-family: monospace;
    font-size: 110%;
    padding: 10px;
    text-align: center;
}

#terms {
    border:5px solid #421112;
    width: 90%; 
    max-height: 400px;
}

#map {
    width: 90%; 
    height: 90%;
    max-height: 500px;
    border: 5px solid #421112;
}


#link-top {
    position:fixed;
    bottom:0.7em;
    opacity:0.5;
    left:0.7em;
    width:4.5rem;
    box-sizing: border-box;
    height:4.5rem;
    line-height:3rem;
    text-align:center;
    border:5px solid grey;
    border-top-color: #421112;
    border-radius:50%;
    background: rgb(220,220,220);
}

#link-top:hover {
    opacity:1;
}

#triunghi {
    height:0px;
    width:0;
    display:inline-block;
    border-bottom:1.5rem solid grey;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    vertical-align: center;
    transform: translateY(30%);
}
