@font-face {
    font-family: Pixeloid;
    src: url("../fonts/PixeloidSans-Bold.ttf");
}

html {
    font-size: 8px;
    font-family: Oxanium;
}

body {
    --margine-pagina: 8px;
}

body.dark {
    --margine-pagina: 8px;
}

h1, h2, h3  {
    font-size: 1.8rem;
    padding: 5px;
}

.taburi-iframe > a {
    width: 50px;
    height: 25px;
    display: block;
    margin: 5px;
    border: 2px solid var(--culoare-main);
    border-radius: 5px 5px 20px;
    text-decoration: none;
}

.container-iframe {
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-direction: column-reverse;
}

.taburi-iframe {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#zona1 {
    justify-items: center;
    align-items: center;
    grid-area: zona1;
}

#zona2 {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    grid-area: zona2;
}

#zona3 {
    grid-area: zona3;
}

#zona4 {
    grid-area: zona4;
}

#zona5 {
    grid-area: zona5;
}

#zona6 {
    grid-area: zona6;
}

#zona7 {
    grid-area: zona7;
}

#zona8 {
    border: none;
    margin: 0 auto;
    padding: 0;
    grid-area: zona8;
}

#grid_pag {
    display: grid;
    gap: 7px 7px;
    grid-template-areas: "zona1 zona1 zona1 zona1"
                         "zona2 zona2 zona8 zona8"
                         "zona3 zona3 zona8 zona8"
                         "zona6 zona6 zona8 zona8"
                         "zona5 zona5 zona4 zona4"
                         "zona7 zona7 zona7 zona7";
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

#desprenoi, #inspiratie, #ceoferim {
    border-radius: 15px 50px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
}

footer {
    border-radius: 15px 50px;
    padding: 10px;
    margin-bottom: 10px;
}

header {
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;
    padding: 30px;
}

#logo {
    width: 30px;
    height: 40px;
    vertical-align: text-bottom;
}

#logo, #titlu {
    display: inline-flex;
}

#terms {
    width: 90%; 
    max-height: 400px;
}

#map {
    width: 90%; 
    height: 90%;
    max-height: 500px;
}

#link-top {
    position: fixed;
    bottom: 1.3em;
    opacity: 0.5;
    left: 1.3em;
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    line-height: 3rem;
    text-align: center;
    transform: rotate(45deg);
    background: white;
    justify-content: center;
}

#link-top:hover {
    opacity: 1;
}

#triunghi {
    height: 0;
    width: 0;
    display: inline-block;
    border-radius: 0 0 1.3rem 1.3rem;
    border-left: 1.1rem solid transparent;
    border-right: 1.1rem solid transparent;
    vertical-align: center;
    transform: translateY(35%) rotate(-45deg);
}

figure {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
}

figure source {
    display: block;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.tabel thead th, .tabel tbody td {
    font-size: 1.5rem;
}

.tabel caption {
    margin-top: 5px;
}

#grid-galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#grid-galerie figure:nth-child(2) {
    grid-area: 1/2/2/3;
}

#grid-galerie figure:nth-child(3) {
    grid-area: 2/1/3/2;
}

#grid-galerie figure:nth-child(4) {
    grid-area: 2/2/3/3;
}

#grid-galerie figure:nth-child(5) {
    grid-area: 3/1/4/2;
}

#grid-galerie figure:nth-child(6) {
    grid-area: 3/2/4/3;
}

#grid-galerie figure:nth-child(7) {
    grid-area: 4/1/5/2;
}

#grid-galerie figure:nth-child(8) {
    grid-area: 4/2/5/3;
}

#grid-galerie figure:nth-child(9) {
    grid-area: 5/1/6/2;
}

#grid-galerie figure:nth-child(10) {
    grid-area: 5/2/6/3;
}

.span-label {
    display: none;
}