/* voi importa fonturi cu licenta free use, toate resursele sunt in readme*/
@font-face {
    font-family: Pixeloid;
    src: url("../fonts/PixeloidSans-Bold.ttf");
}

html {
    background-color: #c9a0a0;
}

h1, h2, h3  {
    font-family: monospace;
    font-size: 150%;
    color: black;
    padding: 10px;
}

p, details, #cr, #salt, #pag1, #pag2, #secinsp, #secofer {
    font-family: monospace;
    font-size: 120%;
    color: black;
    padding: 10px;
}


#sec1 {
    /*box-shadow: 5px 2px 5px 2px #5C1E20;*/
    padding: 10px;
}

#inspiratie, #ceoferim, footer, #sec1 {
    border: 5px solid #5C1E20;
    border-radius: 15px 50px;
    padding: 10px;
    margin-bottom: 10px;
}

#video {
    display: block;
    margin: auto;
}

#pic {
    display: block;
    margin: auto;
    max-width: fit-content;
}

footer {
    background-color: #A77272;
}

header {
    background-color: #A77272;
    border: 5px solid #5C1E20;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 10px;
}

#logo {
    width: 30px;
    height: 40px;
    vertical-align: text-bottom;
}

#titlu {
    font-family: Pixeloid;
}

#logo, #titlu {
    display: inline-flex;
}

#caption {
    font-family: monospace;
    font-size: 110%;
    padding: 10px;
    text-align: center;
}

#terms {
    border:5px solid #421112;
    width: 500px; 
    height: 600px;
}
