
nav {
    font-size: 1.3rem;
    background-color: #C9A0A0;
    --inaltime-meniu:30px;
    --latime-buton:100px;
    height:var(--inaltime-meniu);
    position: sticky;
    top: 0;
}

ol.meniu li div.img-icon{
    display: inline-block;
}

ol.meniu ul {
    display: none;
    padding: 0;
}

ol.meniu {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ol.meniu li {
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    border: 2px solid #421112;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 0.2s linear;
}

ol.meniu li:hover {
    background-color: #421112;
}

ol.meniu li:hover ul{
    display: block;
    background-color: #C9A0A0;
    position: relative;
    list-style-type: none;
}

ol.meniu a, ol.meniu div {
    color: black;
    text-decoration: none;
    transition: all 0.2s linear;
    display: inline-flex;
    height: 100%;
    cursor: pointer;
}

ol.meniu li:hover > .txt-icon a , ol.meniu li:hover > div , ol.meniu li:hover > a {
    color:white;
}
