@keyframes spatiere-meniu {
    0% {
        letter-spacing: -4px;
    }

    100% {
        letter-spacing: 2px;
    }
}

nav {
    padding: 5px;
    font-size: 1.2rem;
    --inaltime-meniu: 20px;
}

#hamburger {
    width: var(--inaltime-meniu);
    height: var(--inaltime-meniu);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol.meniu {
    display: none;
    margin: 0;
    width: 100%;
    background-color: #C9A0A0;
}

ol.meniu li {
    margin: 0;
    width: 100%;
    border: 1px solid #421112;
}

ol.meniu > li {
    animation-name: spatiere-meniu;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.05s;
    animation-fill-mode: none;
}

#hamburger div {
    width: 100%;
    height: 15%;
    background-color: black;
    border-radius: 2px;
}

#ch-menu:checked + ol.meniu {
    display: block;
    position: relative;
    z-index: 1;
}

ol.meniu > li:hover {
    text-shadow: none;
}