main{
    --padd-main: 1rem;
    color: var(--culoare-text);
    font-size: 15px;
    padding-left: var(--padd-main);
    padding-right: var(--padd-main);
}

#container-sortari {
    text-align: center;
}

#icon-ieftin {
    align-self: center;
    padding: 5px;
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7rem;
}

.grid-produse .produs{
    border: 3px solid var(--culoare-main);
    background-color: var(--culoare-semideschisa);
    border-radius: 2rem;
    overflow: hidden;
}

.grid-produse .produs h3{
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color: var(--culoare-text);
}

.grid-produse .produs h3 a:hover{
    color: var(--culoare-text-hover);
}

.grid-produse .produs figure{
    margin-top: 10px;
    text-align: center;
    max-height: 150px;
    max-width: 500px;
}
.grid-produse .produs figure img{
    width: 100px;
    height:auto; 
    max-height: 150px;
}
.grid-produse .produs .info-prod{
    display:flex;
}
.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{
    text-align:center;
    font-weight:bold;
}

.produs{
    position: relative;
}

#grid-butoane {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    gap: 2rem;
    background-color: var(--culoare-semideschisa);
    border: 2px solid var(--culoare-main);
    border-radius: 20px;
    padding: 20px;
}

#container-butoane {
    align-items: center;
}

#container-switch {
    width: 100px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-box {
    background-color: var(--culoare-deschisa);
    border: 3px solid var(--culoare-main);
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    max-height: 90vh;
    overflow-y:scroll;
    position: relative;
    z-index: 1001;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.carousel-inner.fixed {
    width: 100%;
    max-width: 350px;
    min-height: 200px;
    display: flex;
}

.imag-produs{
    text-align: center;
    max-width: 350px;
    max-height: 500px;
}

.imag-produs img {
    width:70%;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#container-sortari {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1000px) {
    main {
        font-size: 10px;
    }

    #grid-butoane {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .grid-produse{
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}

@media screen and (max-width:500px) {
    main {
        font-size: 7.5px;
    }

    #grid-butoane {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }

    .grid-produse{
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
}