<footer>
    <h1>Contact</h1>
    <details>
        <summary>
            <b>Telefon</b>
        </summary>
        <br><a href="tel:+40334123456" target="_blank">0334123456</a><br><br>
        <a href="https://wa.me/40334123456" target="_blank">WhatsApp</a>
    </details>
    <br>
    <details>
        <summary>
            <b>E-mail</b>
        </summary>
        <br><a href="mailto:fanstome.service@gmail.com" target="_blank">fanstome.service@gmail.com</a>
    </details>
    <br>
    <details>
        <summary>
            <b>Termeni si conditii</b>
        </summary>
        <br><a href="/resurse/pdf/termeni_si_conditii.pdf" download="termeni_si_conditii" target="_blank">Descarca Termeni si conditii</a><br><br>
        <embed id="terms" src="/resurse/pdf/termeni_si_conditii.pdf"><br>
        
    </details>
    <br>
    <details>
        <summary>
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică/@44.4357607,26.102147,17z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank"><b>Adresa</b></a>
        </summary>
        <br><iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d356.1115899386841!2d26.09963205179512!3d44.43536279419564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741022788431!5m2!1sro!2sro" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe><br>
    </details><br>
    <small id="cr">&copy; Copyright <time datetime="2025-03-03">Martie 2025</time>, FansTOME</small>
    <a id="link-top" title="Mergi sus" href="#"><div id="triunghi"></div></a>
    <p id="end">.</p>
    <p id="banner"></p>
</footer>