<script src="/resurse/js/tema.js"></script>
<header>
    <img id="logo" src="/resurse/imagini/logo.png" alt="logo">
    <h1 id="titlu">FansTOME</h1><br>
    <div id="container-switch">
        <i class="fa-solid fa-sun"></i>
        <div class="form-check form-switch" id="switch-tema">
            <input class="form-check-input" type="checkbox" id="schimba_tema" role="switch"></input>
            <!-- <label class="form-check-label" for="schimba_tema">Tema</label> -->
        </div>
        <i class="fa-solid fa-moon"></i>
    </div>
    
    
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <div id="linia1" class="linie"></div>
        <div id="linia2" class="linie"></div>
        <div id="linia3" class="linie"></div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ol class="meniu">
        <li>
            <div class="img-icon" id="pag1-icon">
                <span class="fas fa-regular fa-house"></span>
            </div>
            <div class="txt-icon" id="pag1-text"><a class="linkintern" href="/index" id="pag1">Acasa</a></div>
            
        </li>
        <li>
            <div class="img-icon" id="pag2-icon">
                <span class="fas fa-star fa-fade"></span>
            </div>
            <a class="linkintern" href="/desprenoi" id="pag2" class="txt-icon">Despre noi</a>
            <ul>
                <li><a class="linkintern" href="/desprenoi#inspiratie" id="secinsp">Inspiratie</a></li>
                <li><a class="linkintern" href="/desprenoi#ceoferim" id="secofer">Ce oferim</a></li>
            </ul>
        </li>
        <li>
            <div class="img-icon" id="pag3-icon">
                <span class="fa-solid fa-book"></span>
            </div>
            <a class="linkintern" href="/produse" id="pag3" class="txt-icon">Produse</a>
            <ul>
                <% for (let opt of locals.optiuniMeniu) { %>
                        <li><a href="/produse?tip=<%= opt.unnest %>"><%= opt.unnest %></a></li>
                <% }  %>                        
            </ul>
        </li>
    </ol>
</nav>